<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="./Screen.css">
</head>

<body>
	<ul class="components">
		<li>
			<img id="avatar" src="/frontend/src/assets/logo.png" alt="" srcset="">
			<img id="avatar" src="/frontend/src/assets/logo.png" alt="" srcset="">
			<img id="avatar" src="/frontend/src/assets/logo.png" alt="" srcset="">
			<img id="avatar" src="/frontend/src/assets/logo.png" alt="" srcset="">
			<img id="avatar" src="/frontend/src/assets/logo.png" alt="" srcset="">
		</li>

		<li>
			<div class="screenchat">
				<h1>Webchat</h1>
			</div>
		</li>
	</ul>	

</body>
</html>